<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Roboto:ital@0;1&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css" media="screen" />
    <link rel="icon" type="image/x-icon" href="/images/nvd-favicon.png">
    <title>{{ title }}</title>
  </head>
  <body>
    <header>
    Big-ass heading goes here.
    </header>
    <div class="pagecontainer">
      <div class="tocwrapper">
      <span class="tocheader">Table of Contents</span>
        {{ content | toc | safe }}
      </div>
      <div class="mainwrapper">
        <main class="maincontent">
          {% block content %}{{ content | safe }}{% endblock %}
        </main>
      </div>
    </div>
    <footer>
   Come chat and learn on the Night Vision Discord (link goes here)
    </footer>
  </body>
</html>