<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ 'static/css/main.css' | url }}" media="screen" />
    <title>{{ title }}</title>
  </head>
  <body>
  <header>
  Big-ass heading goes here.
  </header>
   <div id="mainwrapper">
    <div id=navsidebar">
     {% block navbar %} {{ navcontent | safe }}{% endblock %}
    </div>
    <div id="maincontent">
    {% block content %}{{ content | safe }}{% endblock %}
    </div>
   </div>
   <footer>
   Footer goes here.
   </footer>
  </body>
</html>